import os

global_config = {
    'automate_style': True,
    'style_change_prob': 0.3,
    'max_caesurae_of_same_style': 5,
    'min_caesurae_of_same_style': 5
}

settings = {}

behaviour = {}

if os.environ.get("ROQBA_STYLE"):
    style = os.environ.get("ROQBA_STYLE")
else:
    # style = 'fixed_meter_playalong'
    # style = 'amadinda'
    # style = 'rendezvous'
    style = 'greek_enharmonic'
