from roqba.utilities.behaviour_dict import BehaviourDict

settings = {}

behaviour = {}

if os.environ.get("ROQBA_STYLE"):
    style = os.environ.get("ROQBA_STYLE")
else:
    # style = 'fixed_meter_playalong'
    # style = 'amadinda'
    # style = 'rendezvous'
    style = 'greek_enharmonic'
